{% extends 'admin/base.html' %}

{% block title %}Inserción{% endblock title %}
{% block activeInsercion %}active{% endblock activeInsercion %}

{% block content %}
	<h1>{{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form class="form-horizontal" action="{% url 'polls:termino' %}" method="post">
        {% csrf_token %}
		<div class="col-xs-6" data-wow-delay=".5s">
			<input type="text" name="titulo" id="titulo" required="required" class="form" placeholder="Titulo" />
			<input type="text" name="autor" id="autor" required="required" class="form" placeholder="Autor" />
			<input type="number" name="unidad" id="unidad" required="required" class="form" placeholder="Unidad" />
			<input type="number" name="precio" id="precio" required="required" class="form" placeholder="Precio" />
			<input type="text" name="estado" id="estado" required="required" class="form" placeholder="Estado" />
			<input type="date" name="fecha" id="fecha" required="required" class="form" placeholder="Fecha" />
		</div>
		<br>
		<div class="row">
			<div class="col-xs-6" data-wow-delay=".5s">
				<button type="submit" class="btn btn-primary" name="button">Añadir</button>
			</div>
		</div>
    </form>
{% endblock content %}
